@import './variables.scss';
.space {
	display: flex;
	padding: 3rem;
  align-items: center;
  justify-content: space-between;
  background-color: #EBEBEB;
  border-radius: 10px;
  max-width: 70%;
  margin: 5rem 0;
  text-align: right;
  div {
    order: 2;
  }
  .info {
    width: 50%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    order: 1;
    h2 {
      font-size: 2.8rem;
      color: $black;
      font-weight: 500;
      margin-bottom: 1rem;
    }
    p {
      font-weight: 300;
      margin: 1.5rem 0 1rem 0;
      font-size: 1.6rem;
    }
    &_icons {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      margin: 1rem 0 0 0;
    }
    button {
      border: none;
      background-color: $fwg-green;
      color: #fff;
      font-weight: 500;
      font-size: 1.6rem;
      padding: 0.8rem 3.5rem;
      border-radius: 3px;
      cursor: pointer;
      transition: all 0.2s;
      margin-top: 2rem;
      &:hover {
        transform: scale(1.05);
        color: $fwg-yellow;
      }
    }
  }
}
